*{
    margin: 0;
    padding: 0;
}
canvas{
    border: 1px solid black
}

.wall{
    background-color: green;
}

.blank{
    background-color: black;
}

.bird{
    background-color: red;
    border-radius: 60%;
}